{% extends 'base.html.twig' %}

{% block content %}
    <ul class="collection">
    <li class="collection-item avatar title">
    </li>
    {% for sources in topics %}
    <a href={{ sources.url}} > 
    <li class="collection-item avatar">
      <span class="title">{{ sources.url }}</span>
      </p></br>
    </li>
    </a>
    {% endfor %}    
  </ul>
{% endblock %}